* {
  font-family: 'Prata', serif;
}
body{
background-color: #D9DDD4;
}
h1{
  position: absolute;
  right: 227px;
  top: 270px;
  bottom: 96.07%;
  width: 476px;
  height: 85,72px;
  font-size: 75px;
  line-height: 102px;
  text-align: center;
}
h3.heading{

  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 540px;
  height: 76px;
  top: 408px;
  font-size: 28px;
  text-align: center;
  size:28px;
  line-height: 37,94px;
  align:center;
  right: 196px;

  color: #040000;
}
#rectangle {
    background: #CACACA;
    width: 1440px;
    height: 284px;
    left: 0px;
    position: absolute;
    top: 900px;
  }

.header{
  height: 900px;
}
.nav{
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
}
.logo__title{
  position: absolute;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 1px;
  margin-left: 114px;
  margin-top: 98px;
  right: 1273px;
  top: 0px;

  color: #000000;
}
.top-nav{

}
.top-nav__link{
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-right: 6px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in;
  right: 846px;
  margin-top: 43px;
  top: 7px;
  /* identical to box height */
}
.top-nav__link1{
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-right: 6px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in;
  right: 433px;
  margin-top: 43px;
  top: 7px;
}
.top-nav__link2{
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-right: 2px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in;
  margin-top: 78px;
  right: 58px;
  top: -26px;
  bottom: 99.3%;
}
.top-nav__link:last-child{
  margin-right: 8px;
}
.top-nav__link:hover{
  color: #62746F;
}
.top-nav__link1:hover{
  color: #62746F;
}
.top-nav__link2:hover{
  color: #62746F;
}
.text{
  /* color: black;
  position: absolute;
  height: 284px;
  width: 1440px;
  top: 973px;
  background-color: #CACACA;
  font-size: 25px; */
  position: absolute;
width: 1043px;
height: 138px;
left: 196px;
top: 945px;
font-size: 25px;
line-height: 34px;

color: #000000;
}
.img{
  position: absolute;
  width: 967px;
  height: 787px;
  top: 114px;
  left: 0px;
}

.main{
  position: absolute;
  left: 135px;
  top: 1212px;
  font-size: 25px;
}
.img2{
  position: absolute;
  width: 923.69px;
  height: 1417px;
  left: 256px;
  top: 1344px;
}
#rectangle1{
  background: #B3CBA7;
  width: 1360px;
  height: 670px;
  top: 2706px;
  left: 38px;
  position: absolute;
}
.heading1{
  font-style: normal;
  font-weight: normal;
  position: absolute;
  left: 766px;
  top: 2725px;
  font-size: 28px;
  line-height: 38px;
  z-index: 1;
}
.paragraph{
  position: absolute;
width: 593px;
height: 93px;
left: 766px;
top: 2852px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
text-indent: 10px;

color: #000000;
}
.paragraph1{
  position: absolute;
width: 593px;
height: 123px;
left: 766px;
top: 2985px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
text-indent: 10px;

color: #000000;
}
.paragraph2{
  position: absolute;
  width: 593px;
  height: 150px;
  left: 766px;
  top: 3145px;
  z-index: 1;
  font-size: 22px;
}
.img3{
  position: absolute;
width: 680px;
height: 682px;
left: 38px;
top: 2705px;
}
.img4{
  position: absolute;
  width: 1360px;
  height: 615px;
  left: 38px;
  top: 2761px;
}
.img5{
  position: absolute;
width: 1458px;
height: 1017px;
left: 0px;
top: 3287px;
}
.img6{
  position: absolute;
  width: 1441px;
  height: 900.72px;
  left: 0px;
  top: 4304px;
}
.img7{
  position: absolute;
width: 1440px;
height: 1440px;
left: 0px;
top: 5203px;
}
.heading2{
  position: absolute;
width: 563px;
height: 83px;
left: 237px;
top: 5248px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 75px;
}
#square{
  position: absolute;
  width: 480px;
  height: 480px;
  background-color: white;
  top: 5203px;
  left: 0px;
}
.description{
  position: absolute;
width: 286px;
height: 56px;
left: 97px;
top: 5400px;

font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
}
.nomber{
  position: absolute;
width: 26px;
height: 55px;
left: 94px;
top: 5540px;

font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 75px;

color: #000000;
}
#square1{
  position: absolute;
  width: 480px;
  height: 480px;
  left: 480px;
  top: 5683px;
  background-color: #B3CBA7;
}
.description1{
  position: absolute;
width: 286px;
height: 98px;
left: 577px;
top: 5858px;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
color: #000000;
}
.nomber2{
  position: absolute;
width: 69px;
height: 75px;
left: 572px;
top: 6018px;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 75px;
color: #000000;
}
#square2{
  position: absolute;
  width: 480px;
  height: 480px;
  left: 960px;
  top: 6163px;
  background-color: #62746F;
}
.description2{
  position: absolute;
width: 286px;
height: 113px;
left: 1105px;
top: 6345px;

font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
}
.nomber3{
  position: absolute;
width: 69px;
height: 75px;
left: 1105px;
top: 6500px;

font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 75px;
}
.img11{
  position: absolute;
  width: 1459px;
  height: 1440px;
  left: 0px;
  top: 6678px;
}
.heading3{
  position: absolute;
width: 826px;
height: 84px;
left: 237px;
top: 8100px;

font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 75px;
}
.img12{
  position: absolute;
width: 406.7px;
height: 296.03px;
left: 75px;
top: 8285px;
}
.heading4{
  position: absolute;
width: 183px;
height: 31px;
left: 187px;
top: 8583px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
#rectangle3{
  position: absolute;
  width: 406.7px;
  height: 292.1px;
  left: 75px;
  top: 8581px;
  background-color: white;
}
.description3{
  position: absolute;
width: 347px;
height: 130px;
left: 105px;
top: 8645px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
.heading5{
  position: absolute;
width: 183px;
height: 27px;
left: 638px;
top: 8583px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
.description4{
  position: absolute;
width: 347px;
height: 105px;
left: 556px;
top: 8645px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
.img14{
  position: absolute;
width: 406.7px;
height: 296.03px;
left: 526px;
top: 8285px;
}
#rectangle4{
  position: absolute;
width: 406.7px;
height: 292.1px;
left: 526px;
top: 8581px;
background-color: white;
}
.heading6{
  position: absolute;
width: 183px;
height: 28.04px;
left: 1079px;
top: 8583px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
.description5{
  position: absolute;
width: 354px;
height: 109.06px;
left: 997px;
top: 8645px;
z-index: 1;
font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 28px;
}
.img16{
  position: absolute;
  left: 962px;
  top: 8286px;
  bottom: 14.77%;
  z-index: 1;
}
#rectangle5{
  position: absolute;
  width: 406.7px;
  height: 588.14px;
  left: 962px;
  top: 8285px;
  background-color: white;
}
.img18{
position: absolute;
width: 494px;
height: 864px;
left: 75px;
top: 8925px;
}
.img19{
  position: absolute;
width: 669px;
height: 910px;
left: 700px;
top: 8880px;
}

.footer{
  position: absolute;
  left: 75px;
  top: 10025px;
  z-index: 1;
  font-size: 20px;
}
.footer1{
  position: absolute;
  width: 142px;
  height: 54px;
  left: 75px;
  top: 10064px;
  z-index:1;
  font-size: 20px;
}
.footer3{
  position: absolute;
  width: 151px;
  height: 60px;
  left: 1253px;
  top: 10045px;
  z-index: 1;
  font-size: 22px;
  line-height: 30px;
}
.footer4{
  position: absolute;
  width: 21px;
  height: 21px;
  left: 37px;
  top: 10068px;
}
.img20{
  position: absolute;
  left: 683px;
  top: 10045px;
  z-index: 1;
  font-size: 144px;
}
#rectangle2{
  position: absolute;
  width: 1440px;
  height: 159px;
  left: 0px;
  top: 10000px;
  background-color: #62746F;
}
